@page "/CreateUser"
@using Blazor_firstPage.Shared
@inject HttpClient Http
<h3>Add User</h3>

<div>
    <label for="id">Id:</label>
    <input type="number" id="id" @bind="userId" />
</div>
<div>
    <label for="name">Name:</label>
    <input type="text" id="name" @bind="userName" />
</div>
<div>
    <label for="email">Email:</label>
    <input type="text" id="email" @bind="userEmail" />
</div>
<div>
    <button @onclick="AddUser1">Add User</button>
</div>

@if (message != null)
{
    <p>@message</p>
}

@code {
    private int userId;
    private string userName;
    private string userEmail;
    private string message;

    // Replace 'YourApiEndpoint' with the actual API endpoint
    private string apiEndpoint = "YourApiEndpoint";

    private async Task AddUser1()
    {
        User newUser = new User
            {
                Id = userId,
                Name = userName,
                Email = userEmail
            };
        var response = await Http.PostAsJsonAsync("userService", newUser);

        if (response.IsSuccessStatusCode)
        {
            message = "User added successfully!";
            // You can perform additional actions here, such as clearing the input fields or updating a user list.
        }
        else
        {
            message = "Failed to add user. Please try again.";
        }
    }


}

